body { 
	background: url(../images/backreound_img1.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

/*ul, li, ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}


 ul.locat_icon li {
     float: left;
     padding-right: 20px;
}



ul.signup_signout_area li {
     float: left;
     padding-right: 10px;
}*/

.regestration_form{
  background-color: #FFFAFA;
}

.centerDiv {
  position: absolute;
    top: 0%;
    left: 50%;
    margin-top: 50px;
    margin-left: 0px;
    width: 500px;
    height: 500px;
}

 



.send-button{
  background: #54C7C3;
  width:100%;
  font-weight: 600;
  color:#fff;
  padding: 8px 25px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.g-button{
  color: #fff !important;
  border: 1px solid #EA4335;
  background: #ea4335 !important;
  width:100%;
  font-weight: 600;
  color:#fff;
  padding: 8px 25px;
}
.my-input{
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: text;
  padding: 8px 10px;
  transition: border .1s linear;
}
.header-title{
  margin: 5rem 0;
}
h1{
  font-size: 31px;
  line-height: 40px;
  font-weight: 600;
  color:#4c5357;
}
h2{
  color: #5e8396;
  font-size: 21px;
  line-height: 32px;
  font-weight: 400;
}
.login-or {
  position: relative;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
}
.hr-or {
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
@media screen and (max-width:480px){
  h1{ font-size: 26px; }
  h2{ font-size: 20px; }
} 

.error{
  color: #ff0000;
}

/*nav testing jquery css */
/*nav > ul {
  font-size: 1em;
  list-style: none;
  margin: 0;
  padding: 0;
}


nav {
  width: 960px;
  margin: 100px auto 0px;
  font-size: 16px;
}

nav > ul > li {
  width: 240px;
  float: left;
  position: relative;
}

nav > ul > li a {
  display: block;
  background: #16a085;
  color: #fff;
  padding: 5px 0px;
  text-align: center;
  text-decoration: none;
}

nav > ul > li a:hover { background: #1abc9c; }

nav > ul > li > ul {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 100%;
  display: none;
}
*/

/*costume select option */

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}



/*testing dropdown hover with css*/
/*.dropdown{
display: none;
}*/


ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {display: inline-block;}
ul li:hover {background: #555;}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
ul li ul li {
  background: #555;
  display: block;
}
ul li ul li a {display:block !important;}
ul li ul li:hover {background: #666;}